<div id="quiz">
<label for="pregunta">Pregunta</label>
<input type="text" id="pregunta" name=quiz[pregunta] value="<%= quiz.pregunta %>" placeholder="pregunta" class="form-control"></input> <br/>
<label for="respuesta">Respuesta</label>
<input type="text" id="respuesta" name=quiz[respuesta] value="<%=quiz.respuesta%>" placeholder="respuesta" class="form-control"></input><br/>
<select name=quiz[tema] class="form-control">
<%for(var i=0;i<temas.length;i++){
	var seleccion="";
	if (temas[i]===quiz.tema) {seleccion="selected"}else{seleccion=""};
%>
  <option value="<%=temas[i]%>" <%=seleccion%> > <%=temas[i]%> </option>  
  <%}%>
</select><br/>
<a href="/quizes"><button  class="btn btn-warning btn-sm">Cancelar</button></a>  
<button type="submit" class="btn btn-primary btn-sm"> Guardar</button>
</div>